@font-face {
    font-family: "Poppins Semi Bold";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

*{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    font-family: "Poppins Semi Bold";
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 99px auto 300px;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    background-image: url(../images/vista-papel-arrugado-blanco.jpg);
    background-size: cover;
}

/*header*/
.menu{
    display: none;
}

.input__menu{
    display: none;
}

header{
    width: 100%;
    height: 99px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5000; 
    background-color:black;
    grid-area: header;

}

.header__container{
    max-width: 1500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

.header__logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img{
    width: 75px;
}

.header__logo img:last-child{
    display: none;
}

.header__logo:hover img:last-child{
    display: block;
}

.header__logo:hover img:first-child{
    display: none;
}

.header__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__nav li{
    margin: 40px;
    list-style: none; 

}

.header__nav a{
    color: white;
    font-size: 14px;
}
.header__nav a:hover{
    color: #768cc2;
}

.li__select{
    background-color: #768cc2;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;

}

.li__select:hover{
    color: #768cc2;
    background-color: white;
}

/*footer*/

footer{
    background-color: black;
    margin-top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-area: footer;
}


footer img{
    margin: 20px;
    max-width: 60px;
}

footer img:hover{
    margin: 20px;
    max-width: 70px;
}

footer p{
    color: white;
}

.footer__icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

/*front page*/
main{
    grid-area: main;
}

.front__page{
    width: 100%;
    padding-bottom: 0px;
    margin-top: 0px;

}


.front__img img{
    max-width: 100%;
    
}

.front__logo{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
}

.front__logo img{
    width: 15%;
    margin-top: -20%;
    margin-left: 10.6%;
    opacity: 0.6;
}

.front__logo h1{
    font-size: 4vw;
    margin-top: -40%;
    margin-left: 5%;
    color: white;   
}

/*home page*/

h2{
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black !important;
}

#bands{
    margin-top: 5%;
}

.bands img {
    max-width: 220px;
}

.bands img:hover{
    max-width: 250px;
}


#bands__one{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
#bands__two{
    display: flex;    
    justify-content: space-evenly;
}
#bands__three{
    display: flex;    
    justify-content: space-evenly;
    align-items: baseline;
    
}

.bands .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h3{
    font-weight: bold;
    color: black;
    
}

h4{
    color: grey;
}

.about__me{
    background-color: #768cc2;
    max-width: 100%;
    margin: 5%;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}
#about__title p{
    font-size: 350%;
}

#about__text p{
    font-size: 200%;
}

/*tickets*/ 

.card p:first-child{
    font-size: 150%;
    font-weight: strong;
}

.tickets__card{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15%;
    margin-top: 10%;
    
}



.card{
    width: 580px;
    height: 235px;
    background-image: url(../images/tickets.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
    color: #181a14;
    
}

.card a{
    background-color: #181a14;
    color: white;
    border-radius: 20px;
    width: 25%;
    text-align: center;
}

.card a:hover{
    color: #181a14;
    background-color: #768cc2;
}







/*contact*/

.contact{
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}

.contact img{
    max-width: 25%;
    border-radius: 25px;
    margin-right: 5%;
}

h5{
    font-size: 155%;
}

.contact__box{
    background-color: black;
    width: 55%;
    border-radius: 25px;
}

.contact__box form{
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contact__send{
    background-color: #768cc2;
    color: white;
    border-radius: 20px;
    width: 25%;
}

.contact__box input{
    width: 100%;
    height: 5%;
    border: 0;
}

.contact__box input:last-child{
    width: 25%;
    height: 5%;
    border: 0;
    margin-top: 2%;
    margin-left: 75%;
}


.contact__box input:hover{
    color: #768cc2;
    background-color: white;
    cursor: pointer;
}

.contact__box input:active{
    color: white;
    background-color: lightgrey;
}

textarea{
    width: 100%;
    height: 45vh;
}

/*networks*/

.networks{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

h6{
    font-size: 60px;
    display: flex;
    justify-content: center;
    color: white;

}

.networks img{
    max-width: 4vw;
}

.networks img:hover{
    max-width: 4.5vw;

}

.networks__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.networks__icons a{
    margin: 5%;
}


#tarjeta__networks{
    width: 100%;
    height: 100vh;
    top: 90px;
    color: white;
    text-align: center;
    font-size: 320%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/tarjeta__redess.jpg);
    background-size: cover;
    background-position: center top;
}

#tarjeta__ricky{
    width: 100%;
    height: 100vh;
    top: 90px;
    color: white;
    text-align: center;
    font-size: 320%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/tarjeta__rickyy.jpg);
    background-size: cover;
    background-position: center top;
}

#tarjeta__sqq{
    width: 100%;
    height: 100vh;
    top: 90px;
    color: white;
    text-align: center;
    font-size: 320%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/tarjeta_sqq.jpg);
    background-size: cover;
    background-position: center top;
}

#tarjeta__rock{
    width: 100%;
    height: 100vh;
    top: 90px;
    color: white;
    text-align: center;
    font-size: 320%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/tarjeta__rock.jpg);
    background-size: cover;
    background-position: center top;
}

#tarjeta__waldemar{
    width: 100%;
    height: 100vh;
    top: 90px;
    color: white;
    text-align: center;
    font-size: 320%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/tarjeta__waldemar.jpg);
    background-size: cover;
    background-position: center top;
}



/*discography*/

#discography__spotify{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#discography__spotify iframe{
    margin: 1%;
}

/*gallery*/

.carousel-control-prev{
    width: 10%;
    background-color: #768cc2;
}

.carousel-control-next{
    width: 10%;
    background-color: #768cc2;
}

#carouselExampleIndicators{
    max-width: 80%;
    max-height: 100%;
    left: 9%;

}
#carouselExampleIndicators1{
    max-width: 80%;
    max-height: 100%;
    left: 9%;
    margin-top: 350px;

}

.carousel-inner{
    margin-bottom: 15%;
    height: 600px;
    background-color: #181a14;
    
}

.carousel-inner img{
    background-color: #181a14;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-indicators{
    padding: 0% !important;
    margin: 0% !important;
    height: auto;
    top: 99%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main__gallery{
    min-height: 2100px;
}

video{
    margin-left: 10%;
}

/*media query mobile*/

@media (min-width: 0px) and (max-width: 767px){
    
     

    /*header mobile*/

    .header__nav ul{
        display: flex;
        flex-direction: column;
        
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: -6%;
        margin-right: 0px;
        width: 80vw;
        height: 10000%;
        padding: 0%;

    }

    .header__nav li{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .header__nav li:first-child{
        margin-top: 40%;
    }

    .header__nav ul a{
        font-size: 25px;
    }

    .header__nav{
        background-color: #768cc2;
        margin-top: 0px;
        margin-right: 0%;
        width: 60%;
        height: 1000px;
        
    }

    .li__select{
        padding: 0px 0px;
        
    }

    .header__container{
        padding-right: 0px;
    }

    .menu{
        width: 200px;
        appearance: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu img{
        width: 90%;
        height: 50%;
        
    }

    .input__menu{
        appearance: none;
    }

    .header__nav{
        display: none;
        
    }

    .input__menu:checked + .header__nav{
        display: block;
        
    }

       
    /*index mobile*/

    .front__img img{        
        margin-left: -100%;
        max-width: 200%;
        filter: brightness(0.5);
    }
    
    .front__logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40%;
        margin-top: -65%;
    }
    
    .front__logo img{
        width: 35%;
        margin: 0%;
    }
    
    .front__logo h1{
        font-size: 7vw;
        color: white;   
        margin: 0%;
        z-index: 1;

    }

    #bands{
        margin-top: 5%;
    }
    
    .bands img {
        max-width: 180px;
    }

    h3{
        font-size: 100%;
    }

    h4{
        font-size: 80%;
    }
    
    
    #bands__one{
        align-items: center;
        flex-direction: column;
        margin-top: 25%;
    }
    .bands a{
        margin-bottom: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #bands__three{
        align-items: center;
        flex-direction: column;
        
    }    
    .about__me{
        margin: 0%;
        padding: 30px;
    }
    #about__title p{
        font-size: 250%;
    }
    
    #about__text p{
        font-size: 150%;
    }

    /*gallery mobile*/
    .main__gallery{
        min-height: 900px;
    }

    .carousel-indicators{
        display: none;
    }
    #carouselExampleIndicators1{
        max-width: 80%;
        max-height: 100%;
        left: 9%;
        margin-top: 50px;    
    }

    #carouselExampleIndicators{
        margin-top: 50px;
    }
    .carousel-inner {
        height: 300px;
        margin: 0%;
    }

    /*tickets mobile*/

    .tickets__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .card{
        top: 20%;
        margin: 2%;
        width: 372px;
        height: 150px;
    }

    .card a{
        width: 50%;
    }

    .card:first-child{
        top: 50%;
    }

    .card p:first-child{
        font-size: 100%;
    }
    .card p{
        font-size: 50%;
    }

    
    /*redes mobile*/

    .networks img{
        max-width: 10vw;

    }
    

    #tarjeta__networks{
        height: 40vh;        
        font-size: 220%;
        background-position: center;
    }

    #tarjeta__ricky{
        height: 40vh;        
        font-size: 220%;
        background-position: center;
    }

    #tarjeta__sqq{
        height: 40vh;        
        font-size: 220%;
        background-position: center;
    }

    #tarjeta__rock{
        height: 40vh;        
        font-size: 220%;
        background-position: center;
    }

    #tarjeta__waldemar{
        height: 40vh;        
        font-size: 220%;
        background-position: center;
    }

    /*contact mobile*/

    .contact img{
        display: none;
    }

    .contact__box{
        width: 90vw;
    }

    .contact__box textarea{
        height: 45%;
    }

    /*footer  mobile*/
    .footer__icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }    


}



/*media query tablet*/

@media (min-width: 768px) and (max-width: 992px){
    /*header tablet*/

    .header__nav ul{
        display: flex;
        flex-direction: column;
        
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 5%;
        margin-right: 0px;
        width: 80vw;
        height: 10000%;
        padding: 0%;

    }

    .header__nav li{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .header__nav li:first-child{
        margin-top: 40%;
    }

    .header__nav ul a{
        font-size: 25px;
    }

    .header__nav{
        background-color: #768cc2;
        margin-top: 0px;
        margin-right: 0%;
        width: 60%;
        height: 1000px;
        
    }

    .li__select{
        padding: 0px 0px;
        
    }

    .header__container{
        padding-right: 0px;
    }

    .menu{
        width: 200px;
        appearance: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu img{
        width: 90%;
        height: 50%;
        
    }

    .input__menu{
        appearance: none;
    }

    .header__nav{
        display: none;
        
    }

    .input__menu:checked + .header__nav{
        display: block;
        
    }

       
    /*index tablet*/

    .front__img img{        
        margin-left: -100%;
        max-width: 200%;
        filter: brightness(0.5);
    }
    
    .front__logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40%;
        margin-top: -65%;
    }
    
    .front__logo img{
        width: 35%;
        margin: 0%;
    }
    
    .front__logo h1{
        font-size: 7vw;
        color: white;   
        margin: 0%;
        z-index: 1;

    }

    #bands{
        margin-top: 5%;
    }
    
    .bands img {
        max-width: 300px;
    }

    h3{
        font-size: 100%;
    }

    h4{
        font-size: 80%;
    }
    
    
    #bands__one{
        align-items: center;
        flex-direction: column;
        margin-top: 25%;
    }
    .bands a{
        margin-bottom: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #bands__three{
        align-items: center;
        flex-direction: column;
        
    }    
    .about__me{
        margin: 0%;
        padding: 30px;
    }
    #about__title p{
        font-size: 250%;
    }
    
    #about__text p{
        font-size: 150%;
    }

    /*gallery tablet*/
    .main__gallery{
        min-height: 900px;
    }

    .carousel-indicators{
        display: none;
    }
    #carouselExampleIndicators1{
        max-width: 80%;
        max-height: 100%;
        left: 9%;
        margin-top: 50px;    
    }

    #carouselExampleIndicators{
        margin-top: 50px;
    }
    .carousel-inner {
        height: 300px;
        margin: 0%;
    }

    /*tickets tablet*/
    .tickets__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .card{
        top: 20%;
        margin: 2%;
        width: 372px;
        height: 150px;
    }

    .card a{
        width: 50%;
    }

    .card:first-child{
        top: 50%;
    }

    .card p:first-child{
        font-size: 100%;
    }
    .card p{
        font-size: 50%;
    }
    
    
    /*networks tablet*/

    .networks img{
        max-width: 10vw;

    }
    

    #tarjeta__networks{
        height: 40vh;        
        font-size: 220%;
        background-position: center top;
    }

    #tarjeta__ricky{
        height: 40vh;        
        font-size: 220%;
        background-position: center top;
    }

    #tarjeta__sqq{
        height: 40vh;        
        font-size: 220%;
        background-position: center top;
    }

    #tarjeta__rock{
        height: 40vh;        
        font-size: 220%;
        background-position: center top;
    }

    #tarjeta__waldemar{
        height: 40vh;        
        font-size: 220%;
        background-position: center top;
    }

    /*contact tablet*/

    .contact img{
        display: none;
    }

    .contact__box{
        width: 90vw;
    }

    .contact__box textarea{
        height: 45%;
    }

    /*footer  tablet*/
    .footer__icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }  
}

@media (min-width: 0px) and (max-width: 992px){
    @media only screen  and (orientation: landscape) {
        

        /*header rotated screen*/

        header{
            position: relative;
        }

        .header__nav li{
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .header__nav li:first-child{
            margin-top: 15%;
        }

        /*networks rotated screen*/

        .networks img{
            max-width: 10vw;

        }
        

        #tarjeta__networks{
            height: 80vh;        
            font-size: 220%;
            background-position: center top;
        }

        #tarjeta__ricky{
            height: 80vh;        
            font-size: 220%;
            background-position: center top;
        }

        #tarjeta__sqq{
            height: 80vh;        
            font-size: 220%;
            background-position: center top;
        }

        #tarjeta__rock{
            height: 80vh;        
            font-size: 220%;
            background-position: center top;
        }

        #tarjeta__waldemar{
            height: 80vh;        
            font-size: 220%;
            background-position: center top;
        }

    }
  }