/* Error: Undefined mixin.
 *    ,
 * 32 | /     @include mediaquery-tablet(){
 * 33 | |         font-size: 7vw;
 * 34 | |         color: white;   
 * 35 | |         margin: 0%;
 * 36 | |         z-index: 1;
 * 37 | \     }
 *    '
 *   scss\basics\basics.scss 32:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 32 \2502  \250c      @include mediaquery-tablet(){\a 33 \2502  \2502          font-size: 7vw;\a 34 \2502  \2502          color: white;   \a 35 \2502  \2502          margin: 0%;\a 36 \2502  \2502          z-index: 1;\a 37 \2502  \2514      }\a    \2575 \a   scss\\basics\\basics.scss 32:5  root stylesheet";
}
