main{
    grid-area: main;
    .front__page{
        width: 100%;
        padding-bottom: 0px;
        margin-top: 0px;
    
    
        .front__img {
            img{
                max-width: 100%;
                @include mediaquery-tablet(){
                    margin-left: -100%;
                    max-width: 200%;
                    filter: brightness(0.5);
                }
            }
        }
        
        .front__logo{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-content: center;
            img{
                width: 15%;
                margin-top: -20%;
                margin-left: 10.6%;
                opacity: 0.6;
                @include mediaquery-tablet(){
                    width: 35%;
                    margin: 0%;
                }
            }
            @include mediaquery-tablet(){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 40%;
                margin-top: -65%;
            }
             
        }
    
    }
    #bands{
        margin-top: 5%;
        @include mediaquery-tablet(){
            margin-top: 5%;
        }
    }
    .bands{
        #bands__one{
            display: flex;
            justify-content: space-evenly;
            align-items: baseline;
            @include mediaquery-tablet{
                align-items: center;
                flex-direction: column;
                margin-top: 25%;
            }

        }
        img {
            max-width: 220px;
            &:hover{
                transform: rotate(30deg);
                    transition: all 0.5s ease;
            }
            @include mediaquery-tablet(){
                max-width: 300px;
            }
            @include mediaquery-mobile (){
                max-width: 180px;
            }
        }
        
        a{
            @include mediaquery-tablet(){
                margin-bottom: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

    }
    .about__me{
        background-color: $color-terciario;
        max-width: 100%;
        margin: 5%;
        padding: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: justify;
        #about__title{
            p{
                font-size: 350%;
                @include mediaquery-tablet(){
                    font-size: 400%;
                }
                @include mediaquery-mobile(){
                    font-size: 200%;
                }
            }
        }
        #about__text{
            p{
                font-size: 200%;
                @include mediaquery-tablet(){
                    font-size: 200%;
                }
                @include mediaquery-mobile(){
                    font-size: 100%;
                }
            }
            
        }
        
        @include mediaquery-tablet(){
            margin: 0%;
            margin-top: -20%;
            padding: 30px;
        }
        
    
    }

    .news{
        width: 100vw;
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        

        .title__news{
            background-color: $color-terciario;
            width: 80%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-secundario;
            font-size: 250%;
            @include mediaquery-tablet(){
                width: 90%;
                font-size: 150%;
            }
        }
        .news__content{
            background-color: $color-secundario;
            width: 80%;
            height: 200px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 150%;
            #news__band{
                color: $color-cuaternario;
            }

            @include mediaquery-tablet(){
                width: 90%;
                font-size: 80%;
                height: 150px;
            }
        }
        .news__send{
            width: 80%;
            background-color: $color-secundario;
            height: 80px;
            border-top: 3px solid white;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .send__btn{
                background-color: $color-terciario;
                color: white;
                border-radius: 20px;
                width: 15%;
                height: 50%;
                margin-right: 3%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    color: $color-terciario;
                    background-color: white;
                }
                @include mediaquery-tablet(){
                    width: 70%;
                    margin: 0%;
                }

            }
            @include mediaquery-tablet(){
                width: 90%;
                font-size: 80%;
                height: 50px;
                justify-content: center;
                margin:0%;
            }
        }
        
        
    }

    .video{
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        width: 100vw;
        height: 500px;
        iframe{
            width: 90%;
        }
        @include mediaquery-tablet(){
            justify-content: center;
            width: 100vw;
            height: 200px;
            margin-top: 5%;
        }
    }
}