.tickets__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card__show{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3%;
        img{
            width: 100%;
        }
        .card__content{
            position: absolute;
            text-align: center;
            font-size: 120%;
            P{ 
                &:nth-child(2){
                    font-size: 80%;
                    font-family: "Poppins regular";
                    @include mediaquery-mobile(){
                        font-size: 10px;
                    }
                }
            }      
            a{
                background-color: $color-secundario;
                color: white;
                border-radius: 20px;
                text-align: center;
                font-size: 15PX;
                padding: 5%;
                padding-top: 1%;
                padding-bottom: 1%;
                &:hover{
                    color: $color-secundario;
                    background-color: $color-terciario;
                }
                @include mediaquery-mobile(){
                    font-size: 10px;
                }
            }
            @include mediaquery-mobile(){
                font-size: 20px;
            }
        }
        @include mediaquery-tablet(){
            &:last-child{
            margin-bottom: 30%;
            }
        }
    }
}